
    <div class="jumbotron">
      <div class="container text-center">
        <h2>Account App - Store, view or delete accounts</h2>
        <!--<img src="/images/shipwreck.jpg" class="img-rounded img-responsive"/>-->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Account List</h2>
          <p><a class="btn btn-default" href="#/accounts" role="button">Account List &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>jordan.mcrobert@qa.com</p>
      </footer>
    </div> 
